@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply bg-primary;
		color-scheme: dark light;
	}
}

@layer components {
	.max-w-screen-3xl {
		@apply max-w-[1800px];
	}

	.app-width {
		width: calc(100% - 24rem);
	}

	.app-max-width {
		@apply max-w-[1350px];
	}

	.slider+span {
		@apply bg-black px-1 rounded-lg;
	}

	.slider:hover+span {
		display: block;
	}
}